.messages-main{
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-bottom: 50px;

}

.profile-main h3{
    line-height: 1.2;
    margin-bottom: .5rem;
}

.profile-select{
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
}

.profile-select ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

