.daily-card {
    height: 98%;
    max-width: 98%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-card img {
    width: 100%;
    position: relative;
    top: 0;
    margin: auto;

    border-radius: 16px;

    z-index: 1;
}

.daily-card_title{
    width: 90%;
    height: 40%;

    background-color: white;
    border-radius: 8px;
    margin: 0 10px 10px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    text-align: center;

    position: relative;
    z-index: 10;
    top: -130px;
}

.daily-card_title .price {
    display: flex;
    align-items: center;
    gap: 5px;

    cursor: pointer;

    color: #4f4f4f;
    font-weight: bolder;
}

.daily-card_title h4{
    font-size: 16px;
    font-weight: 600; 
    height: auto;
    line-height: 16px;

    color: #53c95a;
}

.price .price-sell {
    color: #bdbdbd;
    text-decoration: line-through;
    text-decoration-color: #e56058;
}