.cart-offer_result{
    padding: 0 10px;
}

.offer-result_text{
    text-align: center;
    color: #53c95a;

    margin-top: 50px;
}

.offer-result_text a {
    color: #53c95a;
    text-decoration: underline;
}