@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.item-card {
    width: 100%;
    min-height: 330px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: start;
    /*justify-content: space-between;*/

    padding: 0px 8px 12px 8px;

    gap: 10px;
}

.item-card_link{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-card .item-card_img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.item-card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.item-card_badges {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.item-card_rating-text {
    align-self: flex-end;
    background: rgb(255, 212, 88);
    color: rgb(15, 15, 19);
    padding: 4px 8px;
    border-radius: 50px 50px 0 50px;
    font-size: 12px;
    font-weight: 500;
}

.item-card_friends-text{
    background-color: #8f4cfd;
    color: #fff;
    padding: 4px 8px;
    border-radius: 0 50px 50px 50px;
    font-size: 12px;
    font-weight: 500;
}

.item-card_badges-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    align-self: flex-start;
}

.item-card_new-text {
    align-self: flex-start;
    background-color: #53c95a;
    color: #fff;
    padding: 4px 8px;
    border-radius: 0 50px 50px 0;
    font-size: 12px;
    font-weight: 500;
}

.item-card_sell-text {
    background-color: rgb(79, 79, 79);
    color: #fff;
    padding: 4px 8px;
    border-radius: 0 50px 50px 0px;
    font-size: 12px;
    font-weight: 500;
}

.item-card .item-card_title {
    margin-top: 10px;
    color: #4f4f4f !important;
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    overflow: hidden;
    min-height: 51px;
}

.item-card .currency {
    font-family: Inter, serif;
    font-size: 14px;
    color: #bdbdbd;
}

.item-card .price {
    margin-top: 8px;

    display: flex;
    align-items: center;
    gap: 5px;

    color: #4f4f4f;
    font-weight: bolder;
}

.price .price-sell {
    color: #bdbdbd;
    text-decoration: line-through;
    text-decoration-color: #e56058;
}

.item-card .item-card_button {
    width: 100%;
    height: 30px;

    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    text-align: center;

    cursor: pointer;

    border: none;
    background-color: #f5f5f5;

    border-radius: 1rem;
    font-weight: 700;
    padding: .2rem .55rem;
}

.item-card .cart-item_count {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: space-between;

    background-color: #2db333;

    align-items: baseline;
    border-radius: 1rem;
    color: #4f4f4f;
    justify-content: space-between;

    padding-top: 2px;
}

.item-card .item_count-min {
    background-color: initial;
    color: inherit;
    border-radius: 1rem 0 0 1rem;

    padding: 0 .55rem;

    cursor: pointer;
}

.item-card .cart-item_count span {
    position: relative;
    top: -2px;
    padding: .375rem .75rem;
    font-weight: 700;
    font-size: 14px;

    color: #fff;

    padding-left: 0;
    padding-right: 2px;
}

.item-card .item_count-plus {
    background-color: initial;
    color: inherit;
    border-radius: 1rem 0 0 1rem;
    padding: 0 .55rem;

    cursor: pointer;
}

.item-card_rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.rating-stars {
    display: flex;
    gap: 2px;
}

.star-filled {
    color: #FFD700;
}

.star-empty {
    color: #E0E0E0;
}

.reviews-count {
    font-size: 12px;
    color: #828282;
}