
.cart-geo{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #fff;
    color: black;

    padding: 10px 15px;
    
    top: 0;
    position: sticky;
    z-index: 135;

    cursor: pointer;
}

.cart-geo_title-address{
    color: #828282;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
