.catalog-carousel{
    width: 100%;

    display: flex;
    
    gap: 10px;

    overflow-x: scroll;   

    margin-top: 12px;
}

.catalog-carousel::-webkit-scrollbar { 
    width: 0; 
}

.catalog-carousel { 
    -ms-overflow-style: none; 
}

.catalog-carousel { 
    overflow: -moz-scrollbars-none; 
}

.catalog-carousel a{
    color: black;
}