.catalog-carousel{
    width: 100%;

    display: flex;
    
    gap: 16px;

    overflow-x: auto;   

    padding: 12px 0;

    scroll-snap-type: x mandatory;
}

.catalog-carousel > * {
    scroll-snap-align: start;
}

.catalog-carousel::-webkit-scrollbar { 
    width: 0; 
}

.catalog-carousel { 
    -ms-overflow-style: none; 
}

.catalog-carousel { 
    overflow: -moz-scrollbars-none; 
}

.catalog-carousel a{
    color: black;
}